<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<meta name="description" content="spring-boot thymeleaf | Login ">
<div th:replace="fragments/header :: header-login-css"></div>
</head>
<body>
  <br />
  <hr />
  <div class="separator"></div>
  <form id="admin_login" name="admin_form" class="row" th:action="@{/login}" method="post">
    <input type="hidden" name="username" />
    <input type="hidden" name="password" />
    <input id="admin_btn" type="button" class="btn btn-default pull-right" style="margin-right: 20px;" value="administrator" />
  </form>
  <div class="row">
    <div class="container">
<!--       <img th:src="@{/static/image/osasimi.jpg}" /> -->
      <div class="login-register-form-section">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active col-xs-6"><a href="#login" data-toggle="tab">Login</a></li>
          <li class="col-xs-6"><a th:href="@{/register}">Register</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="login">

            <div th:if="${param.error}" class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <p th:text="${param.error}"></p>
              Invalid username or password.
            </div>
            <div th:if="${msg eq 'confirm'}" class="success">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <p th:text="${msgText}"></p>
            </div>
            <form th:action="@{/login}" method="post" class="form-horizontal">
              <div class="form-group ">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </div>
                  <input type="text" name="username" class="form-control" placeholder="Username" required="required" value="" />
                </div>
              </div>
              <div class="form-group ">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-key"></i>
                  </div>
                  <input type="password" name="password" class="form-control" placeholder="Password" required="required" />
                </div>
              </div>
              <div class="form-group">
                <input type="checkbox" id="rememberMe" /> <label for="rememberMe">Remember Me </label> 
                <a href="#" class="pull-right">Forgot password?</a>
              </div>
              <input type="submit" value="Login" class="btn btn-success btn-custom" />

            </form>
            <!-- Button trigger modal -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footerSeparator"></div>
  <script type="text/javascript">
  	const login_btn = document.getElementById("admin_btn");
  	
		if(location.host === "localhost:8080") {
			document.getElementById("admin_login").style.display ="block";
		}	else {
			document.getElementById("admin_login").style.display ="none";
		}
		
		const adminLogin = () => {
			document.forms["admin_login"].username.value = "take3";
			document.forms["admin_login"].password.value = "b";
			document.forms["admin_login"].submit();
		}
		
		login_btn.addEventListener("click", adminLogin);
  </script>
  <footer>
    <div th:replace="fragments/footer :: footer">&copy; 2016 pironix</div>
  </footer>
</body>
</html>